// fonts
$headingFontFamily: "Times New Roman", Times, serif;
$standardFontFamily: 'Hind', sans-serif;

//colours
$primaryColour:#D69E40;
$secondaryColour:#002147;

// Social icons
$facebook:#3b5998;
$linkedin:#007bb6;
$pinterest:#cb2027;
$skype:#02B4EB;
$twitter:#2caae1;
$tumblr:#304E6C;
$youtube:#B10503;
$google-plus:#dd4b39;


 

/* front end pages */

/* fonts */

body {
    font-family: $standardFontFamily;
	color:#333;
}
h1, h2, h3, h4, h4, h5, h6 {
    font-family: $headingFontFamily;
    letter-spacing: 1px;
}
h1 {font-size: 24px;}
h2 {font-size: 20px;  color:$primaryColour;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
p {font-size: 14px;}

@font-face{ 
	font-family: 'Roman_SD-webfont';
	src: url('romancaps_regular_macroman/Roman_SD-webfont.eot');
	src: url('romancaps_regular_macroman/Roman_SD-webfont.eot?iefix') format('eot'),
	     url('romancaps_regular_macroman/Roman_SD-webfont.woff') format('woff'),
	     url('romancaps_regular_macroman/Roman_SD-webfont.ttf') format('truetype'),
	     url('romancaps_regular_macroman/Roman_SD-webfont.svg#webfont') format('svg');
}
#content li {
    list-style-type: none;
    margin-left: -38px;
}

/* wraps */
.headerwrap, .prefooterwrap {
    background-color: $primaryColour;
}
.footerwrap {
    background-color: $secondaryColour;
}

/* menu */
.navbar {
    height:40px;
    margin-bottom: 0;
	color:#666666;
}
.navbar a {
	color:#666666;
}
/* login menu */
.topmenus {
	position:relative;
}
.login {
	position:absolute;
	top:0;
	right:0;
}


/* header */
#header {
    height:390px;
    background-image: url(../img/header.jpg);
	position:relative;
}
.sitenamebg {
	Width:540px;
	background-color:rgba(0,0,0,0.7);
	Float:right;
	position:absolute;
	top:140px;
	right:0;
	padding:15px;
}
.sitename {
	font-family: 'Roman_SD-webfont';
	color: $primaryColour;
	font-size: 60px;
	text-align:right;
	line-height:40px;
}
.sitename_sml {
	font-size: 24px;
}
.sitenamebg {
	height:140px;
}
#headersubpage {
    height:140px;
    background-image: url(../img/subpageHeader.jpg);
	position:relative;
}
#headersubpage .sitenamebg {
	position:absolute;
	right:0px;
	top:0px;
}
#searchbox {
	background-color:$primaryColour;
	height:70px; 
	width:250px;
	position:absolute;
	right:20px; 
	bottom:20px;
	padding-top:16px;
	padding-left:16px;
 }
#searchbox input{
	width:190px;
	border-radius:0;
 }
#searchbox a{
	color:white;
 }
#searchbox .fa{
	color:white;
	background:none;
 }
#searchbox button{
    color: white;
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 27px;
 }
 

/* footer */
#prefooter {
    color:white;
    height:42px;
}
#footer {
    color:white;
    min-height:210px;
}
.footer-links  {
	text-align:right;
    margin-top:10px;
}
.footer-links li {
	list-style-type:none;
	margin-left:-40px;
	color:white;
}
.footer-links a {
	color:white;
}
.sponsors img {
	margin-right:20px;
    margin-top:20px;
}
.copyright { 
	margin-top:40px;
}

/* content */
#content {
    min-height:450px;
}


/* homepage */
#homepage_featured {
    float:left;
}
#homepage_featured img {
    width:80px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}
#homepage_featured .teasertext p {

}
#homepage_contribute img {
    width:100%;
}
.headingBg {
    background-color: $primaryColour;
    min-height:50px;
    width:100%;
}
.headingBg a:hover, .headingBg:hover  {
    text-decoration: none;
    background-color: $secondaryColour;
}
.headingBg h2{
    color:white;
    padding-top:15px;
    padding-left:10px;
    margin-top:0;
}
#homepage_contribute .headingBg span {
    color:white;
    position:absolute;
    bottom:25px;
    right:25px;
}
#homepage_news .headingBg span {
    color:white;
    position:absolute;
    top:20px;
    right:25px;
}
.teasertext span {
    font-style: italic; 
    color: $primaryColour;
}


/* map */
.map img {
    width:100%;
}
.ui-slider-handle  {
    border:1px solid $primaryColour !important;
    background: $primaryColour !important;
}
span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-top-left-radius:50% !important;
    border-top-right-radius:50% !important;
    border-bottom-right-radius:50% !important;
    border-bottom-left-radius:50% !important;
}


/* coin detail page */

.coin img {
    width:280px;
    margin-bottom:20px;
}

/* other */
.marginTop {
    margin-top:20px;
}

.picleft img {
    float:left; 
    margin-right:20px;
}
.picright img {
    float:right; 
    margin-left:20px;
}

.clearfix {
    clear:both;
}

/* hoard list view */

.hoardlistview .datalabel {
    width:20%;
    position:absolute;
    left:0;
    text-align:right;
    margin-right:20px;
    font-weight: bold;
}
.hoardlistview .data {
    width:80%;
    text-align:left;
    position: relative;
    left:20%;
    width:80%;
}


/* site social icons */
#social-links h2 {
    position: absolute;
    margin-left: -9999px; }

#social-links li {
    float: right;
    padding: 6px 10px;
    margin-right:0px;
    margin-top:-3px;
}

#social-links li:first-child {
}

#social-links li a {
    color: #ffffff;
    overflow: hidden; 
 }

#social-links li a::before {
}

/* social icons */
  
#social-links .fa-facebook:hover {
    color: $facebook; }
#social-links .fa-linkedin:hover {
    color: $linkedin; }
#social-links .fa-pinterest:hover {
    color: $pinterest; }
#social-links .fa-skype:hover {
    color: $skype; }
#social-links .fa-twitter:hover {
    color: $twitter; }
#social-links .fa-tumblr:hover {
    color: $tumblr; }
#social-links .fa-youtube:hover {
    color: $youtube; }
#social-links .fa-google-plus:hover {
    color: $google-plus; }
#social-links .fa {
    color: #fff; }





/* responsive adjustments */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {

    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 970px) {
    .footer-links  {
        text-align:left;
        margin-top:40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 750px) {

    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* v small */ 
@media only screen and (max-width : 320px) {

}
@media only screen and (min-width : 970px) {
	#header .sitenamebg{
		background-color:rgba(0,0,0,0);
	}
}
